# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Secrets & Environment
.env
.env.local

# Databases
*.db
*.sqlite3

# Uploaded Files
static/uploads/*
!static/uploads/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
